* {
  bg: #121318ff;
  dark-bg: #0a0a0eff;
  surface: #121318ff;
  lighter-bg: #232329ff;
  selection: #2e2e3aff;
  border: #2e2e36ff;
  fg: #e3e1e9ff;
  dark-fg: #c6c5d0ff;
  muted: #90909aff;
  accent: #b8c3ffff;
  yellow: #e4bad9ff;
  red: #ffb4abff;
  green: #c3c5ddff;
}
